

.homepage{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    background-color: #fef3fc;
    font-style: oblique;
    line-height: 0;
}

.home-title{
    color: #fef3fc;
    -webkit-text-stroke: 2px grey; /* Grosor y color del borde */
    -webkit-text-fill-color: transparent; /* Relleno transparente para mostrar el borde */
}

.sub-title {
    color: #fef3fc;
    -webkit-text-stroke: 2px grey; /* Grosor y color del borde */
    -webkit-text-fill-color: transparent; /* Relleno transparente para mostrar el borde */
    font-size: 250%;
}

